<!DOCTYPE html>
<html>
<head>
  <title>Show theatre</title>
  <link href="/assets/theatres_manifest.css" media="all" rel="stylesheet" type="text/css" />
</head>

<body>
  <div id="show_thea">
    <div class="hidden">
      <table id="show_template"" cellpadding="10">
        <tr>
          <td>Name:</td> <td id="name"></td>
        </tr>
        <tr>
          <td>Address:</td> <td id="address"></td>
        </tr>
        <tr>
          <td>Phone Number:</td> <td id="phone_no"></td>
        </tr>
        <tr>
          <td id="back"></td> 
        </tr>
      </table>
    </div>
  </div>
</body>
</html>
