<!DOCTYPE html>
<html>  
  <head>
    <title>Seat</title>
    <link href="/assets/seats_manifest.css" media="all" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div id="index_seat">
      <h3>Listing Seats</h3>
      <div class="hidden">
        <table class="seat" cellpadding="10">
          <tr>
            <th>TYPE OF SEAT</th>
            <th>Link</th>
          </tr>
          <tr id="template">
            <td id="type_of_seat"></td>
            <td id="show"></td>
            <td id="delete"></td>
          </tr>
        </table>
      </div>
    </div> 

    <div id="show_seat">
      <div class="hidden">
        <table id="show_template"" cellpadding="10">
          <tr>
            <td>Type of Seat:</td> <td id="type_of_seat"></td>
          </tr>
          <tr>
            <td id="back"></td> 
          </tr>
        </table>
      </div>
    </div>
  </body>
</html>
