<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <div id="edit_mov">
    <div class="header">
      <h3>Edit Movie:</h3>
    </div>
    <div class="form_mov">
      <form method="post" action="http://localhost:3000/movies">
        <table>
          <tr>
            <td>NAME:</td> <td><input type="text" name="movie_name" placeholder="Movie name"></td>
          </tr>
          <tr>
            <td>RATING:</td> <td><input type="text" name="movie_rating" placeholder="Movie rating"></td>
          </tr>
          <tr>
            <td>CAST:</td> <td><input type="text" name="movie_cast" placeholder="Movie cast"></td>
          </tr>
          <tr>
            <td>DURATION:</td> <td><input type="text" name="movie_duration" placeholder="Movie duration"></td>
          </tr>
          <tr>
            <td><input type="submit" value="Submit" onclick="updation( movie_name.value, movie_rating.value, movie_cast.value, movie_duration.value )"></td>
          </tr>
        </table>
      </form>
    </div>
  </div>
</body>
</html>
