<!DOCTYPE html>
<html>
<head>
  <title>Show booking</title>
  <link href="/assets/bookings_manifest.css" media="all" rel="stylesheet" type="text/css" />
</head>

<body>
  <div id="show_book">
    <div class="hidden">
      <table id="show_template"" cellpadding="10">
        <tr>
          <td>Booking Category:</td> <td id="booking_category"></td>
        </tr>
        <tr>
          <td>No of Bookings:</td> <td id="no_of_bookings"></td>
        </tr>
        <tr>
          <td id="back"></td> 
        </tr>
      </table>
    </div>
  </div>
</body>
</html>
