<!DOCTYPE html>
<html>  
  <head>
    <title>Showtime</title>
    <link href="/assets/showtimes_manifest.css" media="all" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div id="index_showt">
      <h3>Listing Auditoria</h3>
      <div class="hidden">
        <table class="showtime" cellpadding="10">
          <tr>
            <th>TIME OF SHOW</th>
            <th>Link</th>
          </tr>
          <tr id="template">
            <td id="time_of_show"></td>
            <td id="show"></td>
            <td id="delete"></td>
          </tr>
        </table>
      </div>
    </div> 

    <div id="show_showt">
      <div class="hidden">
        <table id="show_template"" cellpadding="10">
          <tr>
            <td>Time of Show:</td> <td id="time_of_show"></td>
          </tr>
          <tr>
            <td id="back"></td> 
          </tr>
        </table>
      </div>
    </div>
  </body>
</html>
